{% extends 'base.html' %}

{% block content %}


<section class="d-flex justify-content-center align-items-center" style="margin: 200px;margin-left: 0;margin-right: 0;">
    <div class="col-12">
        <div class="text-center">
            <h1 class="d-flex justify-content-center align-items-center gap-2 mb-4">
                <span class="fw-bold display-1">4</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-exclamation-circle" style="color: var(--bs-danger);">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"></path>
                </svg>
                <span class="fw-bold display-1">4</span>
            </h1>
            <h2 class="mb-2">Oops! You're lost.</h2>
            <p class="mb-5">The page you are looking for was not found.</p>
            <a class="btn btn-primary rounded-pill" href="{% url 'home' %}" role="button">Back To Home</a>
        </div>
    </div>
</section>


{% endblock content %}