{% extends 'base.html' %}

{% block title %}
    Create a New Blog Post
{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
<h1>Add Blog Post</h1>
<br><hr>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Post</button>
</form>
{% else %}
    <h1>Not logged in</h1>
    <p>You must be logged in to add a post.
        <a href="{% url 'signup' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>    
    </p>
    <p>
        Return <a href="{% url 'home' %}">Home</a>
    </p>
{% endif %}

{% endblock content %}