{% extends 'base.html' %}

{% block title %}
    Posts in {{ category }} Category
{% endblock title %}

{% block content %}

<h1>posts in {{ category }} category</h1>
{% if posts %}

    {% for post in posts %}
        <h2>
            <a href="{% url 'article_detail' category_slug=post.category.slug slug=post.slug %}">{{ post.title }}</a> - 
            <small>{{ post.author.first_name }} {{ post.author.last_name }}</small>
        </h2>
        <p>{{ post.snippet }}</p>
        <p>{{ post.created_on }}</p>
        <img src="{{ post.img.url }}" alt="No image">
        <br>
    {% endfor %}

{% else %}
        
    <p>No posts found in this category.</p>
        
{% endif %}

<a href="{% url 'home' %}">Back home</a>

{% if is_paginated %}
<nav aria-label="Page navigation conatiner"></nav>
<ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
  <li><a href="?page={{ page_obj.previous_page_number }}"
class="page-link">&laquo; Newer </a></li>
  {% endif %}
  {% if page_obj.has_next %}
  <li><a href="?page={{ page_obj.next_page_number }}"
class="page-link"> Older &raquo;</a></li>
  {% endif %}
</ul>
{% endif %}

{% endblock content %}