{% extends 'base.html' %}

{% block title %}
    Delete {{ post.title }}
{% endblock title %}

{% block content %}

{% if user.id == post.author.id %}

    <h1>Delete {{ post.title }}</h1>
    <br><hr>

    <form method="post">
        {% csrf_token %}
        <strong>Are you sure?</strong>
        <br><br>
        <button type="submit">Delete Post!</button>
        <br><br>
        Return <a href="{% url 'home' %}">Home</a>
    </form>

{% else %}
    <h1>Not authorized</h1>
    <p>You are not authorized to delete this post.</p>
    <p>
        Return <a href="{% url 'home' %}">Home</a>
    </p>
{% endif %}

{% endblock content %}